{% extends 'base.html.twig' %}

{% block title %}Réinitialisez votre mot de passe{% endblock %}

{% block body %}
<div class="mx-auto p-4 mt-6" style="width: 600px;">
        <div class="col-12 décalage-3 register text-center" style="background-color: #4b6b5c">
            <div >
                <div class="card-body">
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <h1>Réinitialisez votre mot de passe</h1>

    {{ form_start(requestForm) }}
        {{ form_row(requestForm.email) }}
        <div>
            <small>
                Entrez votre adresse e-mail et nous vous enverrons un
                lien pour réinitialiser votre mot de passe.
            </small>
        </div>

        <button class="btn btn-">Envoyer la demande</button>
    {{ form_end(requestForm) }}
    <img class="d-block mx-auto p-2 mb-4 mt-4" style="width:500px; height:auto" src="/img/choucador.jpg" alt=" oiseauchoucador">
</div>
</div>
</div>
</div>
</div>
{% endblock %}
