body {
  background: linear-gradient(70deg, #f7f7f7, #f7f7f7);
  min-height: 100vh;
}

header{
  background-color: #4b6b5c;
}
.text-fofo{
  color: rgb(255, 252, 252);
}

footer{
  width: 100%;
  position: absolute;
}

.tailleForm{
  width: 600px;
}

.dropdown-content a{
  text-decoration: none;
  color: rgb(255, 252, 252);
  text-align: center;
  display: flex;
  
}

.dropdown-content{
  background-color: #4b6b5c;
  
}

.panier{
  margin-left: 40px;
  margin-top: 3px;
}

.btnfb{
  width: 100%;

}