body {
  background: linear-gradient(70deg, #f7f7f7, #f7f7f7);
  /* color: #514B64; */
  min-height: 100vh;
}

header{
  background-color: #4b6b5c;
}
.text-fofo{
  color: rgb(255, 252, 252);
}

footer{
  width: 100%;
  position: absolute;
}

.tailleForm{
  width: 600px;
}

/* #4b6b5c */