{% extends 'base.html.twig' %}

{% block title %}Nouveau produit{% endblock %}

{% block body %}
    <h1 class="text-center">Ajouter un nouveau produit</h1>

    {{ include('admin_produits/_form.html.twig') }}

    <a href="{{ path('app_admin_produits_index') }}">Retour ala liste</a>
{% endblock %}
