{% extends 'base.html.twig' %}
{% block title %}
    Hello QSNController!
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/qsn.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row ">
            <h1>
                Qui sommes-nous ? 
            </h1>
            <div class="card border-dark mb-4">
                <p class="col-xl-12 col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                    Bienvenue chez Les Oiseaux Insectivores ! Nous sommes une équipe de passionnés d'animaux depuis notre plus tendre enfance. Notre amour pour les oiseaux exotiques nous a inspirés à créer cette plateforme dédiée à leur bien-être et à leur bonheur. 
                </p>
                <p class="col-xl-12 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    Nous avons acquis une expertise unique dans l'art de faire naître, élever et prendre soin de ces magnifiques compagnons à plumes. Notre parcours nous a permis d'accumuler des connaissances approfondies sur les différentes espèces d'oiseaux exotiques, leurs habitats naturels et leurs besoins spécifiques.
                </p>    
                <p class="col-xl-12 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    Chez Les Oiseaux Insectivores, nous croyons fermement que les animauxméritent d'être traités avec respect, compassion et dévouement. Nousnous engageons à offrir des produits de qualité supérieure, soigneusement sélectionnés pour répondre aux exigences de nos amis àplumes. Que ce soit des aliments nutritifs, des jouets stimulants ou des accessoires adaptés, nous nous efforçons de fournir tout ce dontvos oiseaux exotiques ont besoin pour mener une vie heureuse etépanouie.
                </p>
                <p class="col-xl-12 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    Nous comprenons également l'importance de la communauté des passionnésd'oiseaux exotiques. C'est pourquoi nous encourageons le partage desconnaissances et des expériences entre nos clients. N'hésitez pas àexplorer notre blog où vous trouverez des articles informatifs, desconseils pratiques et des témoignages inspirants. Nous sommesconvaincus que la collaboration et l'échange sont essentiels pourassurer le bien-être de nos amis à plumes.
                </p>
                <p class="col-xl-12 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    Nous sommes fiers de notre service clientèle exceptionnel. Notreéquipe est toujours prête à répondre à vos questions, à vous guiderdans vos choix et à vous fournir une assistance personnalisée. Nousnous engageons à vous offrir une expérience d'achat agréable et sanssouci, du premier clic à la livraison de vos produits.
                </p>
                <p class="col-xl-12 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    Rejoignez-nous dans notre passion pour les oiseaux exotiques etdécouvrez tout ce que nous avons à offrir. Chez [nom de votreentreprise], nous sommes là pour vous accompagner dans chaque étape devotre parcours en tant que propriétaire d'oiseaux exotiques.
                <p class="col-xl-12 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    Merci de votre confiance.
                </p>
                <p class="col-xl-12 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    L'équipe des Oiseaux Insectivores
                </p>
            </div>
        </div>
    </div>
{% endblock %}
        